#root{
	width: 100%
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (min-width: 300px)and (max-width: 595px){
	#Vista_Previa{
		display: none !important
	}
	
	#Editor_Caja{
		width: 100% !important
	}
}